#define ALPHA_STRDY     0
#define NUMBERS         1
#define SYMBOLS         2
#define NAVIGATION_VIM  3
#define NAVIGATION_OS   4
#define SYSTEM          5
#define MOUSE           6
#define MOUSE_SLOW      7
#define MACROS          8

