/*

 ┌────────────────────────────────────────── MACROPAD ───────────────────────────────────────┐
 │                                                                                           │
 │   ╭────────────── LEFT HAND ───────────────╮    ╭────────────── RIGHT HAND ───────────────╮
 │                                                                                           │
 │   Top:                                                                                    │
 │   Home:                                                                                   │
 │   Bottom:                                                                                 │
 │                                                                                           │
 │   Thumbs:                                                                                 │
 │                                                                                           │
 │  ──────────────────────────────────────────────────────────────────────────────────────── │
 │  Placeholder for future macropad layer implementation                                     │
 │                                                                                           │
 └───────────────────────────────────────────────────────────────────────────────────────────┘
*/

 / {
    macropad: macropad {
        bindings = <

            /* Top Row */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
            &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


            /* Home Row */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
            &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


            /* Bottom Row */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
            &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


            /* Thumbs */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/

                                                     &trans          &trans            &trans             &trans          &trans            &trans
        >;
    };
};
