/* Placeholder for a future macro layer */
/* */

macropad: macropad {
    display-name = "Macropad";
    bindings = <

        /* Top Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
        &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


        /* Home Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
        &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


        /* Bottom Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
        &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


        /* Thumbs */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/

                                                 &trans          &trans            &trans             &trans          &trans            &trans
    >;
};
