/*

 ┌─────────────────────────────────────────── MOUSE ─────────────────────────────────────────┐
 │                                                                                           │
 │   ╭────────────── LEFT HAND ───────────────╮    ╭────────────── RIGHT HAND ───────────────╮
 │                                                                                           │
 │   Top:                                                                                    │
 │   Home:                                                                                   │
 │   Bottom:                                                                                 │
 │                                                                                           │
 │   Thumbs:                                                                                 │
 │                                                                                           │
 │  ──────────────────────────────────────────────────────────────────────────────────────── │
 │  Placeholder for future mouse layer implementation                                        │
 │                                                                                           │
 └───────────────────────────────────────────────────────────────────────────────────────────┘
*/

 / {
    mouse: mouse {
        bindings = <

            /* Top Row */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
            &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


            /* Home Row */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
            &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


            /* Bottom Row */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
            &trans             &trans           &trans          &trans            &trans             &trans       &trans            &trans          &trans          &trans


            /* Thumbs */
            /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/

                                                     &trans          &trans            &trans             &trans          &trans            &trans
        >;
    };
};
