/* Implements custom navigation layer for common vim interactions */
/* */

navigation_vim: navigation_vim {
    display-name = "Navigation Vim";
    bindings = <

        /* Top Row */
        /* ------------------------LEFT HAND -----------------------------------------------------------------------------------------------*/    /* ------------------------RIGHT HAND -------------------------------------------------------------------*/
        &trans                          &trans                          &trans                    &trans                   &trans                 &vim_buffer_cycle_backwards   &kp P               &kp N              &kp HASH            &kp ASTRK


        /* Home Row */
        /* ------------------------LEFT HAND -----------------------------------------------------------------------------------------------*/    /* ------------------------RIGHT HAND -------------------------------------------------------------------*/
        &trans                          &trans                          &trans                    &trans                   &trans                 &vim_buffer_cycle_forwards    &hm RSHIFT H        &hm RGUI J         &hm RALT K          &hm RCTRL L


        /* Bottom Row */
        /* ------------------------LEFT HAND -----------------------------------------------------------------------------------------------*/    /* ------------------------RIGHT HAND -------------------------------------------------------------------*/
        &trans                          &trans                          &trans                    &trans                   &trans                 &trans                        &vim_window_left    &vim_window_down   &vim_window_up      &vim_window_right


        /* Thumbs */
        /* ------------------------LEFT HAND -----------------------------------------------------------------------------------------------*/    /* ------------------------RIGHT HAND -------------------------------------------------------------------*/

                                                                        &kp RPT                   &lt NAV BSPC             &lt SYM ESC            &lt FN ENTER        &lt MAGIC SPACE      &magic_key
    >;
};
