/* To bei implemented */
/* */

#include "../behaviors/init.dtsi"
#include "../macros/init.dtsi"

navigation_windows: navigation_windows {
    display-name = "Navigation Windows";
    bindings = <
        /* Top Row */
        /* ----------LEFT HAND --------------------*/  /* -----------RIGHT HAND ---------------------------------------------------------------------------------*/
           &none   &none   &none   &none   &none          &none           &none              &none                         &none                        &none

        /* Home Row */
        /* ----------LEFT HAND --------------------*/  /* -----------RIGHT HAND ---------------------------------------------------------------------------------*/
           &none   &none   &none   &none   &none          &none           &none              &none                         &none                        &none

        /* Bottom Row */
        /* ----------LEFT HAND --------------------*/  /* -----------RIGHT HAND ---------------------------------------------------------------------------------*/
           &none   &none   &none   &none   &none          &none           &none              &none                         &none                        &none

        /* Thumbs */
        /* ----------LEFT HAND --------------------*/  /* -----------RIGHT HAND ---------------------------------------------------------------------------------*/
                           &trans  &trans  &trans         &trans            &trans             &trans
    >;
};

