/* Implements Solid symbols layout */
/* See: https://github.com/vladsolokha/zmk-config/tree/main */

#include "../behaviors/init.dtsi"
#include "../macros/init.dtsi"

symbols: symbols {
    display-name = "Symbols";
    bindings = <

        /* Top Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
        &none             &kp EXCL        &kp LBRC       &kp RBRC         &none                   &none            &kp PERCENT       &kp PLUS        &kp EQUAL       &none

        /* Home Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
        &kp UNDER         &kp AMPS        &kp LPAR       &kp RPAR         &kp TILDE               &kp CARET        &kp STAR          &kp HASH        &kp DOLLAR      &kp MINUS

        /* Bottom Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
        &kp SEMICOLON     &mt LALT AT     &mt LCMD LBKT  &mt LCMD RBKT    &kp PIPE                &kp BACKSLASH    &mt LCMD LT       &mt LCMD GT     &mt LALT DQT    &kp COLON


        /* Thumbs */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND --------------------------------------------*/
                                          &trans         &trans           &trans                  &trans           &trans            &trans

    >;
};
