/* Implements custom system layer for common hardware interactions */
/* */

#include "../macros/init.dtsi"

system: system {
    display-name = "System";
    bindings = <

        /* Top Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND ------------------------------------------------------*/
           &none              &none            &none           &none          &none               &kp C_VOL_MUTE &kp C_VOL_DOWN   &kp C_VOL_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC


        /* Home Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND ------------------------------------------------------*/
           &none              &none            &none           &none          &none               &none          &none            &none         &none                 &none

        /* Bottom Row */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND ------------------------------------------------------*/
        &bt BT_SEL 3       &bt BT_SEL 2     &bt BT_SEL 1    &bt BT_SEL 0      &bt BT_SEL 4        &none          &none            &none         &none                 &none 


        /* Thumbs */
        /* ------------------------LEFT HAND --------------------------------------------*/   /* ------------------------RIGHT HAND ------------------------------------------------------*/
                                            &none           &none             &none               &kp C_PP       &kp C_NEXT       &none

    >;
};
